@import "tailwindcss";

@theme {
  --color-bg: #fbd8b0;
  --color-card: #e7b375;
  --color-white: #f8f8f4;
  --color-accent: #f97b6a;
  --color-accent-dark: #c73a1e;
  --color-accent-hover: #d94f3a;
  --color-grey: #b3b4b5;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family:
    "Chinese Quote",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "PingFang SC",
    "Hiragino Sans GB",
    "Microsoft YaHei",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: var(--color-bg);
}
